extends layout

block content
	div#greeting-container
		h1#greeting-text Hi, I'm David
		p#greeting-description Software developer, creator and lover of food
		a.social-link(href="https://www.instagram.com/dajomareyes" target="_blank")
			i.social-icon.fab.fa-instagram
		a.social-link(href="https://twitter.com/dajomareyes" target="_blank")
			i.social-icon.fab.fa-twitter
		a.social-link(href="https://www.linkedin.com/in/david-joshua-reyes-7aa50ab3" target="_blank")
			i.social-icon.fab.fa-linkedin
		a.social-link(href="https://github.com/dajomareyes" target="_blank")
			i.social-icon.fab.fa-github-alt
		
