extends layout

block content
	div#greeting-container
		h1#greeting-text Hi, I'm David
		p#greeting-description Software developer, creator and lover of food
		a(href="/" target="_blank")
			i.social-icon.fab.fa-instagram
		a(href="/" target="_blank")
			i.social-icon.fab.fa-twitter
		a(href="/" target="_blank")
			i.social-icon.fab.fa-linkedin
		a(href="/" target="_blank")
			i.social-icon.fab.fa-github-alt
		
