extends layout

block content
	div#greeting-container.uk-text-center
		h1#greeting-text Hi, I'm David
		p#greeting-description Software developer, creator and lover of food
		//- a.social-link(href="/" target="_blank")
		//- 	i.social-icon.fab.fa-instagram
		//- a.social-link(href="/" target="_blank")
		//- 	i.social-icon.fab.fa-twitter
		//- a.social-link(href="/" target="_blank")
		//- 	i.social-icon.fab.fa-linkedin
		//- a.social-link(href="/" target="_blank")
		//- 	i.social-icon.fab.fa-github-alt
		
