doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header 
			p navigation bar will go here!
			a.link_to_home(href='', target='_blank') Home
			a.link_to_home(href='projects', target='_blank') Projects
		block content
		footer
			p stuff at the end like social media, github and what not