// global variables go here
$is-wide-screen: "screen and (min-width: 600px)";
$is-phone-screen: "screen and (max-width: 600px)";

html, body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  height: 20px;
}

// main greeting classes
div#greeting-container {
  position: absolute;
  width: 100%;
  top: 40%;
}

h1#greeting-text {
  $greeting-width: 3;
  margin: 0;
  @media #{$is-wide-screen} { font-size: #{$greeting-width}vw; }
  @media #{$is-phone-screen} { font-size: #{$greeting-width*4}vw; }
}

p#greeting-description {
  $desc-width: 1;
  margin: 0;
  @media #{$is-wide-screen} { font-size: #{$desc-width}vw; }
  @media #{$is-phone-screen} { font-size: #{$desc-width*4}vw; }
}

// social media classes
.social-icon {
  font-size: 2rem;
  padding-top: 7px;
  width: 100%;
}

.social-link {
  $instagram-color: #c1558b;
  width: 50%;
  padding-left: 0;

  &:hover { 
    padding-left: 300px;
  }
}